<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.picture %>
      <%= link_to user.name, user %><br><br>
    </li>
  <% end %>
</ul>

<%= will_paginate %>