<% provide(:title, @user.name) %>
<section id="content">
  <section class="vbox">
    <section class="scrollable wrapper">
      <div class="row">
        <div class="col-lg-4">
          <%=render 'shared/user_info'%>
        </div>
        <div class="col-lg-7">
           <section class="padding_med panel bg-primary lt no-borders animated bounceInDown">
            <% if @user === current_user %>
               <span class="font_white">Your Recent Activity</span>
            <% else %>
               <span class="font_white"><%=@user.name%>'s Recent Activity</span>
            <%end%>
            </section>
          <%=render 'shared/feed'%>
        </div>
      </div>
    </section>
  </vbox>
</section>