/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body {
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-weight: 300;
	background-color: #bf1e2d !important;
 }

 h1,h2,h3,h4,h5,h6,p{
 	margin: 0 !important;
	padding: 0 !important;
	font-weight: 300 !important;
 }

 .container{
 	margin-top: 200px;
 }

 .center_div{
 	margin: 25px auto 0 auto;
 }
 
 .sm_div{
 	width: 30%;
 	min-width: 270px;
 	border: 1px solid black;
 }