/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */
 body {
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-weight: 300;
	font-size: 18px !important;
 }

 h1,h2,h3,h4,h5,h6,p{
 	margin: 0 !important;
	padding: 0 !important;
	font-weight: 300 !important;

 }

 h1,h2,h3,h4,h5,h6,p, input, button, select, textarea {
 	font-family: 'Open Sans Condensed', sans-serif !important;
 }

 p{
 	font-size: 18px;
 }

 .container{
 	margin-top: 200px;
 }

 .center_div{
 	margin: 25px auto 0 auto;
 }
 
 .sm_div{
 	width: 30%;
 	min-width: 270px;
 	border: 1px solid black;
 }

 .btn-xlarge{
	font-size:20px !important;
	padding: 15px 40px !important;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.form-control{
	padding: 18px 10px !important;
	font-family: 'Open Sans Condensed', sans-serif !important; 
	font-size: 18px !important;
}

.control-label{
	font-size: 14px !important;
}

label, input, button, select, textarea {
	font-size: 18px !important;
}

#content{
	width: -moz-calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
    background-image: url(image-path('/assets/bg_color.jpg'));
}

@media screen and (max-width: 768px) {
  #content{
	width: 100%;
	}
}

.small_space{
	height:10px;
}

.small_vert{
	width: 10px;
	float:left;
}

.med_vert{
	width: 20px;
	display:inline-block;
}

.med_space{
	height:20px;
}

.hight_med{
	height: 120px;
}

.bg-map{
	background-image: url(image-path('/assets/map.png'));
}

.width_fx{
	width: 75px;
}
.bg-purple{
	background: rgba(100, 80, 120, 0.7) !important;
	color: white;
}

.bg-purple-lter{
	background: rgba(60, 80, 150, 0.7) !important;
	color: white;
}

.new_alert{
	font-size: 14px;
	text-align: center;
}

.dim{
	opacity: 0.3;
}

.font_white{
	color: white !important;
}

.sm-label{
	font-size: 14px !important;
	font-weight: normal;
}