// import the CSS framework
@import "bootstrap";

// make all images responsive by default
.img_rs {
  @extend .img-responsive;
  margin: 0 auto;
}
.error, .alert, .notice, .success, .info {
  padding:0.5em;
  margin-bottom:1em;
  border: 0px !important;
}
.success{
  background:#e6efc2;
  color:#264409;
}
.alert-error, .notice{
  background:#f2dede;
  color:#b94a48;
}