// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing_container{
	min-height: 700px !important;
	position: relative;
	background-image: url(image-path('/assets/bg_color.jpg'));
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	padding: 25px 0;
}

.landing_icon{
	width: 25%;
	min-width: 270px;
	margin: 0 auto 0 auto;

	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: rotate; 
	-moz-animation-duration: 1s; 
	-moz-animation-timing-function: ease-in-out;
}

.landing_name{
	width: 20%;
	min-width: 200px;
	margin: 30px auto 0 auto;
	padding-left: 5px;

	-webkit-animation-name: move_up; 
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: move_up; 
	-moz-animation-duration: 1s; 
	-moz-animation-timing-function: ease-in-out;
}

.description{
	width: 80%;
	min-width: 270px;
	margin: 20px auto 0 auto;
	text-align: center;
	h2{
		color: white;
	}
	-webkit-animation-name: move_up; 
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: move_up; 
	-moz-animation-duration: 1s; 
	-moz-animation-timing-function: ease-in-out;
}

.session_actions{
	width: 25%;
	min-width: 270px;
	margin: 30px auto 0 auto;
	text-align:center;
}
